<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppiReserva.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEDA67311C0F318700A90EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDA67451C0F318800A90EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDA67501C0F318800A90EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
